<h1>Listing disorder_values</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disorder_values.each do |disorder_value| %>
  <tr>
    <td><%= link_to 'Show', disorder_value %></td>
    <td><%= link_to 'Edit', edit_disorder_value_path(disorder_value) %></td>
    <td><%= link_to 'Destroy', disorder_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disorder value', new_disorder_value_path %>
