<%= form_for(@cap) do |f| %>
  <% if @cap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cap.errors.count, "error") %> prohibited this cap from being saved:</h2>

      <ul>
      <% @cap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
