<%= form_for(@alignment) do |f| %>
  <% if @alignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alignment.errors.count, "error") %> prohibited this alignment from being saved:</h2>

      <ul>
      <% @alignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
