<!DOCTYPE html>
<html>
<head>
  <title>Disicc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>DisICC</h2>

<%= yield %>

</body>
</html>
